<td><%= status %></td>
<td><%= difficulty %></td>
<td><%= note_to_self %></td>
<td><%= note_to_instructor %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>