<script type="text/javascript" charset="utf-8">
  
// author the interaction through data structures
problem_id = '<%= @problem.id %>';
question_dir = '<%= @problem.filesPath %>';
stepCount = <%= @problem.step_count %>;
var explanations = <%= raw explanations_for_problem(@problem).to_json %>
  
// set up env
currentStep = 0;
currentExplanation = 0;
imageList = stepImages(question_dir, stepCount, extension="<%= @problem.imageType %>");

</script>

<div id="prototype">
  
  <div id="problem">
    
    <img id="work_shown" src=""> <!-- set by Javascript -->
    
  </div>
  
  <div id="prompt" class="right-box">
    <p>Try solving the problem at left on your paper.</p>
    <p>When you click on either of these buttons, you'll see part of an expert's solution to the problem.</p>

    <button id="work_check" class="advance_problem">Check my work</button>
    <button id="work_help" class="advance_problem">Get help</button>
  </div>
  
  <div id="work-check" class="right-box">
    <p>At left is an expert's work.<br>Is your work right?</p>

    <button class="record-check" id="same">Yes and similar.</button><br>
    <button class="record-check" id="different">Yes but different.</button><br>
    <button class="record-check" id="partly">Partly right.</button><br>
    <button class="record-check" id="not">Not at all.</button>
  </div>
  
  <div id="dialog" class="right-box">
    
    <div id="explanations">
      
      <div id="write_explanation" class="dialog_section">
        <p>Why did the expert do this?</p>
        <textarea name="explanation"></textarea>
        <p id="privacy_choice"><input type="checkbox" name="private" id="private" value="check"><label for="private">private</label></p>
    
        <p>How good is your explanation?</p>
        <button class="show_prior" id="poor">Poor</button>
        <button class="show_prior" id="good">Good</button>
        <button class="show_prior" id="very_good">Very good</button>
      </div>
    
      <div id="read_explanations">
        <p id="prior_explanation">&lt;PRIOR EXPLANATION&gt;</p>
        <p class="guidance">Does this help you?
          <button id="thumbs_up"></button><button id="thumbs_down"></button>
        </p>
        <div>
          <button id="increment_explanation">Show another</button>
          <button id="revise_explanation">Revise mine</button>
          
        </div>    
      </div>
      
    </div>

    <div id="understanding" class="dialog_section">
      <p>Do you understand the uncovered work?</p>
      <input type="checkbox" name="understand" id="understand"><label for="understand">I understand the expert's work.</label><br>
      <input type="checkbox" name="differently" id="differently"><label for="differently">I would do it differently.</label><br>
      <input type="checkbox" name="bookmark" id="bookmark"><label for="bookmark">Review this problem later.</label>
    </div>
    
    <div id="continue" class="dialog_section">
      <button id="step_understood_btn" class="advance_step">Continue</button>
    </div>
      
  </div>


  <div id="done" class="right-box">
    <p>All done.</p>
    
    <p>Your stats:</p>
    <div id="post_question_stats" style="border: dashed black 3px; background-color: lightGrey; height: 10em">
    </div>
    
    <button>Try another similar question.</button>
    <br>
    <%= link_to 'Back to list of problems', problems_path %>
  </div>
  
</div>
