<p id="notice"><%= notice %></p>

<p>
  <b>Label:</b>
  <%= @problem.label %>
</p>

<p>
  <b>Filespath:</b>
  <%= @problem.filesPath %>
</p>


<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
