<%= form_for(@problem_event) do |f| %>
  <% if @problem_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem_event.errors.count, "error") %> prohibited this problem_event from being saved:</h2>

      <ul>
      <% @problem_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :problem_id %><br />
    <%= f.text_field :problem_id %>
  </div>
  <div class="field">
    <%= f.label :step %><br />
    <%= f.text_field :step %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_area :value %>
  </div>
  <div class="field">
    <%= f.label :ip_address %><br />
    <%= f.text_field :ip_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
